ul{
    margin-bottom: 0 !important;
}
.navbar {
  width: 100%;
  background: #6c757d;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.logo {
    width : 100px;
}

.my-link {
    color:aquamarine;
    text-decoration: none;
    font-weight: 600;

}
.my-link:hover{
    color:blanchedalmond;
}

.hobar {
    color:blueviolet;
    text-decoration: none;
    font-weight: 600;
}
.hobar:hover {
    color:orange;
}

@media (max-width:767px) {
    .my-link{
        font-size: 12px;
        color:beige;
    }
}

@media (min-width:500px) and (max-width:600) {
    .my-link{
        font-style: italic;
        color:orange;
    }
}

.my-platform {
    color:aqua;
    font-size:27px;
    
}

.my-hobar {
    color :greenyellow;
}

body {
    color: blueviolet;
}
.padding {

    padding: 100px 0px;
}