.container {
    display:flex;
    justify-content: space-around;
    align-items: stretch;
    background-color: aqua;
}
.item {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 5px;
}