.container{
    position : relative;
    width: 400px;
    height : 300px;
    border : 1px solid #ccc;
}
.box{
    width:150px;
    height: 150px;
    position: absolute ;
    color : white ;
    text-align : center;
    font-size : 18px;
    line-height : 1.6;
}

.box-1{
    background-color : red;
    top: 120px;
    left:120px;
    z-index: 3;
}
.box-2{
    background-color :blue;
    top: 80px;
    left:80px;
    z-index: 2;
}
.box-3{
    background-color :greenyellow;
    top: 50px;
    left:50px;
    z-index: 1;
}
