p{
    text-decoration: underline;
    text-decoration: line-through;
    text-transform:uppercase;
    color:blue;
    font-size : 50px;
}

.root{
   display: flex;
   gap : 20px;
   justify-content: center;
   align-items:center;
}
.child-1{
    width:200px;
    height:100px;
    background-color:black;
}
.child-2{
    width:200px;
    height:100px;
    background-color:red;
}
.child-3{
    width:200px;
    height:100px;
    background-color:yellow;
}